@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  .transition-all {
    transition-duration: 0.4s !important;
  }

  .hero-input {
    background-color: #475069 !important;
  }

  main {
    background-image: url("./../img/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .owl-jumbo .owl-nav,
  .owl-jumbo .owl-dots {
    display: none !important;
  }

  button.inline-block {
    color: white !important;
  }

  .owl-carousel.owl-loaded {
    display: flex !important;
  }

  .frame {
    backdrop-filter: blur(24px);
    transition: all ease-in-out 300ms;
  }
  /* 
  .item:hover .frame {
    bottom: -11rem !important;
  } */

  @media (min-width: 1024px) {
    .item:hover .frame {
      bottom: -11rem !important;
    }
  }

  .loaderr {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
